.pagination__bar {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination__button {
  color: #ffffff;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #2196f3;
  border-radius: 50%;
  border: 1px solid #2196f3;
  margin: 0 8px;

  &:disabled {
    background-color: #e8e8e8;
    border: 1px solid #e7e7e7;
    color: #f9f9f9;
  }
}

.pagination__button__active {
  transition: 0.2s ease;
  background-color: #ffffff;
  color: #2196f3;
}
