@import "../../constants/constants.scss";

.table__wrapper {
  overflow-x: auto;
}

table {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;

  @media (max-width: 720px) {
    font-size: 12px;
  }
}

th {
  padding: 12px 8px;
  text-align: left;
  border-top: $border;
  border-bottom: $border;
}

td {
  border-top: $border;
  border-bottom: $border;
  transition: 0.25s ease;
}
