@import "../../constants/constants.scss";

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 12px 8px;
  text-align: left;
  border-top: $border;
  border-bottom: $border;
}

td {
  padding: 12px 8px;
  width: 20%;
  border-top: $border;
}
